<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <a href="/"><img src="/assets/img/logo.png" alt="DARE Aquatics Logo" class="img-fluid" /></a>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" data-nav-key="home" href="/">Home</a></li>
        <li><a class="nav-link scrollto" data-nav-key="coaches" href="/coaches">Coaches</a></li>
        <li><a class="nav-link scrollto" data-nav-key="calendar" href="/calendar">Calendar</a></li>
        <li><a class="nav-link scrollto" data-nav-key="faq" href="/faq">F.A.Q</a></li>
        <li><a class="nav-link scrollto" data-nav-key="groups" href="/groups">Swim Groups</a></li>
        <li><a class="nav-link scrollto" data-nav-key="news" href="/news">News</a></li>
        <li><a class="nav-link scrollto" data-nav-key="locations" href="/locations">Pool Locations</a></li>
        <li><a class="nav-link scrollto" data-nav-key="pbc" href="/pbc">PBC</a></li>
        <li><a class="nav-link scrollto" data-nav-key="contact" href="/contact">Contact</a></li>
        <li><a class="nav-link scrollto" data-nav-key="sponsorship" href="/sponsorship">Sponsor Us</a></li>
        <li>
          <a
            class="getstarted scrollto"
            href="https://www.gomotionapp.com/Login5.jsp?sn=www.gomotionapp.com&amp;team=cadas&amp;_tu_Login_Redirect_=/team/cadas/controller/cms/admin/index&amp;_tu_Login_Error_Redirect_=true"
            target="_blank"
            rel="noopener noreferrer"
            >Sign In</a
          >
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>
