<noscript>
  <meta http-equiv="refresh" content="0; url=/javascriptRequired.html?redirect=true&target=" id="noscript-redirect" />
</noscript>
<link rel="icon" href="/assets/img/logo.png" />
<link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
  rel="stylesheet"
/>
<link href="/assets/vendor/aos/aos.css" rel="stylesheet" />
<link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
<link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
<link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
<link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
<link href="/assets/css/style.css" rel="stylesheet" />
<link href="/assets/css/loadingAnimation.css" rel="stylesheet" />
<link href="/assets/css/announcement.css" rel="stylesheet" />
