*.exe
*.out
*.test
*.log
go.sum
*.o
*.a
*.so
*.dSYM
bin/
build/
dist/
.DS_Store
Thumbs.db
.vscode/
*.sublime-workspace
*.sublime-project
*.swp
*.bak
*~
assets/*.svg
*.cache
*.debug
coverage/
maintenanceStatusToggle.json
robots.txt
CNAME
LICENSE
.vs/
